EDGE_TTS_VOICE=
EDGE_TTS_RATE=
EDGE_TTS_RATE_WORD=
EDGE_TTS_RATE_EXAMPLE=
EDGE_TTS_RATE_WORD_FAST=
EDGE_TTS_RATE_WORD_SLOW=
EDGE_TTS_RATE_WORD_EMPH=
EDGE_TTS_RATE_WORD_EMPH_SECOND=
EDGE_TTS_PITCH=
EDGE_TTS_PITCH_WORD_EMPH=
EDGE_TTS_PITCH_WORD_EMPH_SECOND=
EDGE_TTS_WORD_EMPH_GAIN=
EDGE_TTS_VOLUME=
EDGE_TTS_VOLUME_WORD_EMPH=
EDGE_TTS_VOLUME_WORD_EMPH_SECOND=
LLM_PROVIDER=
GROQ_API_KEY=
GROQ_BASE_URL=
MODEL_NAME=
GROQ_TEMPERATURE=
TTS_ENGINE=
AZURE_TTS_KEY=
AZURE_TTS_REGION=
AZURE_TTS_VOICE=
AZURE_TTS_OUTPUT_FORMAT=
AZURE_TTS_RATE=
AZURE_TTS_RATE_WORD=
AZURE_TTS_RATE_EXAMPLE=
AZURE_TTS_RATE_WORD_FAST=
AZURE_TTS_RATE_WORD_SLOW=
AZURE_TTS_RATE_WORD_EMPH=
AZURE_TTS_RATE_WORD_EMPH_SECOND=
AZURE_TTS_PITCH=
AZURE_TTS_PITCH_WORD_EMPH=
AZURE_TTS_PITCH_WORD_EMPH_SECOND=
AZURE_TTS_WORD_EMPH_GAIN=
AZURE_TTS_VOLUME=
AZURE_TTS_VOLUME_WORD_EMPH=
AZURE_TTS_VOLUME_WORD_EMPH_SECOND=
