EDGE_TTS_VOICE=
EDGE_TTS_RATE=
EDGE_TTS_RATE_WORD=
EDGE_TTS_RATE_EXAMPLE=
EDGE_TTS_RATE_WORD_FAST=
EDGE_TTS_RATE_WORD_SLOW=
EDGE_TTS_RATE_WORD_EMPH=
EDGE_TTS_RATE_WORD_EMPH_SECOND=
EDGE_TTS_PITCH=
EDGE_TTS_PITCH_WORD_EMPH=
EDGE_TTS_PITCH_WORD_EMPH_SECOND=
EDGE_TTS_WORD_EMPH_GAIN=
EDGE_TTS_VOLUME=
EDGE_TTS_VOLUME_WORD_EMPH=
EDGE_TTS_VOLUME_WORD_EMPH_SECOND=
